/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background-color: #4CAF50; /* Green */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* Red */
  color: white;
}

// Responsive container helper
.container {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}